extends ../ui_layout

block content
  .twelve.wide.computer.tablet.sixteen.wide.mobile.column(style="margin-top: 2em; margin-bottom: 2em;")
    h2(style="text-align: center;") 忘記密碼?
    p(style="font-size:large;") 
      b Send a message via the survey platform to the study coordinator OR send an email to 
      a(href="mailto:"+email target="_blank") !{email}
      |.
    p(style="font-size:large;") 我們會盡快給你提供一個臨時密碼以便登錄。
