extends ../ui_layout

block content
  .computer.only.tablet.only.eight.wide.column
    img.ui.fluid.image(src=process.env.SITE_PICTURE)

  .eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    .ui.card.fluid(style="padding: 20px; margin-top: 90px;")
      h2.ui.header 登錄
      form.ui.form(action='/login', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .field
          label(for='email') 電子郵箱
          input(type='email', name='email', id='email', placeholder='電子郵箱', autofocus, required)
        .field
          label(for='password') 密碼
          input(type='password', name='password', id='password', placeholder='密碼', required)
        button.ui.large.button.blue(type='submit') 登錄
      .ui.horizontal.divider
        | Or
      .center.aligned.column
        .ui.big.green.labeled.icon.button.signup
          i.signup.icon
          |   創建賬號

  script.
    $('.ui.big.green.labeled.icon.button.signup').on('click', function() {
      window.location.href = `/signup${window.location.search}`;
    });
