if messages.errors
  .sixteen.wide.column
    .ui.negative.message
      i.close.icon
      for error in messages.errors
        div= error.msg
if messages.info
  .sixteen.wide.column
    .ui.warning.message
      i.close.icon
      for info in messages.info
        div= info.msg
if messages.success
  .sixteen.wide.column
    .ui.positive.message
      i.close.icon
      for success in messages.success
        div= success.msg
if messages.final
  .sixteen.wide.column
    .ui.icon.info.message
      i.trophy.icon
      .content
        .header
          | 感謝您參與我們的研究！
        ul.list
          li 研究現已結束，您的賬戶已無法登錄。
          if messages.final[0].msg
            li 如果您還沒有填寫研究調查， 
              a(href=messages.final[0].msg) 请点击此处完成。
