extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em")
    h2(style="text-align: center;") Community Rules for LifeHere
    p 很高興你來到這裏一起分享自己的生活！在開始之前，請閱讀我們的社區規則，這些規則可以幫助大家一起營造一個友好、有愛的LifeHere社區。

    p 如果遇到以下任何內容，請務必點擊 <b>舉報 🚩</b> ，以便我們的管理員進行調查和處理。

    h3 ×垃圾信息×
    p 這裏不是用來推銷服務或宣傳品牌的地方，發現此類垃圾信息將被刪除。

    h3 ×人身攻擊和網絡霸淩×
    p 對此零容忍！LifeHere 是一個分享我們的生活和愛的地方，而不是互相傷害的地方。 

    h3 ×種族主義、性別歧視及其他任何歧視行爲×
    p 攻擊某一類別的人群和攻擊個人一樣：我們會嚴厲禁止這種行爲！

    if user && !user.consent
      .ui.big.green.labeled.icon.button.info
          i.rocket.icon
          |   Got it!
  
  script.
    $('.ui.big.green.labeled.icon.button.info').on('click', function() {
        window.location.href = '/info';
      });
