extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em;")
    h1(style="text-align: center;") 歡迎來到 LifeHere!
    h3 以下是你可以在這裏做的一些事情：
    ul
        li 創建帖子，展示你的生活！上傳已有的照片，或者用你的手機拍攝新照片。
        li 浏覽、點贊、評論他人的帖子。
        li 填寫你的個人資料，你可以根據自己的習慣展示或不展示任何信息。
        li 當通知鈴铛變紅時，說明你收到了新的通知，記得去查看哦！
    img.ui.centered.image(src='/public/esl-howto.png')
    h3 See who else is around.
    p We'll notify you if someone replies to or likes your post or comment.
    .ui.big.green.labeled.icon.button.interest
        i.rocket.icon
        |   繼續

    script.
        $('.ui.big.green.labeled.icon.button.interest').on('click', function() {
            $(this).addClass('loading disabled');
            $.post("/account/consent", {
                    _csrf: $('meta[name="csrf-token"]').attr('content')
                }).done(function(json) {
                    if (json["result"] === "success") {
                        window.location.href = '/'
                    }
                });
        });
